h1 {
    color: green;
}

body {
    margin: auto;
    overflow: hidden;
}

.app {
    position: absolute;
    color: black;
    font-family: Lato;
    width: 30%;
}

.info-background {
    margin: 1em;
    padding: 0.1em 1em 0.1em 1em;
    background-color: #eee;
}

.credits-background {
    margin: 1em;
    padding: 0.1em 1em 0.1em 1em;
    background-color: #111;
    color: #fff;
}

a {
    color: #fff;
}
